.listContainer {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 0.875rem;
  //   margin: 14px auto;

  h4 {
    font-size: 10px;
    font-weight: bold;
    color: #1e71bb;
    margin-bottom: 0.25rem;
  }

  p {
    font-size: 16px;
    justify-self: end;
    color: #1d1d1b;
    margin-bottom: 0.875rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
