.container {
  width: 100%;

  h2 {
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-size: 1.125rem;
    font-weight: bold;
  }
  @media (max-width: 760px) {
    h2 {
      margin-top: 1rem;
    }
  }
}
