.searchSection {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: white;
  border-radius: 0.625rem;
  // align-items: center;

  form {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;

    svg {
      margin: 0 1.125rem;
      width: 24px;
      height: 24px;
    }

    input {
      max-width: 64rem;
      width: 100%;
      height: 3.125rem;
    }

    button {
      background-color: #bb1e1e;
      color: white;
      padding: 0 1rem;
      margin-right: 0.3125rem;
      border-radius: 0.3125rem;
      text-transform: uppercase;
      max-width: 6rem;
      width: 100%;
      height: 2.5rem;
      justify-content: end;
      cursor: pointer;
    }
  }
}

@media (min-width: 1024px) {
  .searchSection {
    width: 100%;
    margin-left: 2.6875rem;
  }
}
