.tabs {
  width: 80%;
  height: auto;
  min-height: 400px;
  background: #053742;
  margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem;
  color: #e8f0f2;
  border-radius: 2rem;
  @media (max-width: 769px) {
    padding: 2rem 0;
  }

  ul {
    width: 60%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #39a2db;
    border-radius: 2rem;
    padding-left: 0px;
    @media (max-width: 768px) {
      width: 90%;
    }

    li {
      width: 50%;
      padding: 1rem;
      list-style: none;
      text-align: center;
      cursor: pointer;
      transition: all 0.7s;
      border-bottom-left-radius: 2rem;
      border-top-left-radius: 2rem;

      &:hover {
        background: #39a2db;
        color: #e8f0f2;
      }

      &:active {
        background: #39a2db;
        color: #e8f0f2;
      }
    }
  }
}
