.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 360px;
  height: 40px;
  margin: 0 auto;
  margin-top: 37px;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 165px;
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    color: black;

    li {
      padding: 0.8rem 1.2rem;
      list-style: none;
      text-align: center;
      cursor: pointer;
      transition: all 0.7s;
      border-radius: 2rem;
      color: black;
      font-size: 1rem;
      font-weight: bold;

      &:hover,
      &:active {
        background: rgba(187, 30, 30, 0.1);
        color: rgba(187, 30, 30, 1);
      }
    }
    .active {
      background: rgba(187, 30, 30, 0.1);
      color: rgba(187, 30, 30, 1);
    }
    li + li {
      margin-right: 30px;
    }
  }
}

.outletContent {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 3rem;

  display: flex;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;

  h2 {
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-size: 1.125rem;
    font-weight: bold;
  }
}

@media (min-width: 480px) {
  .outletContent,
  .tabs {
    display: none;
  }
}

@media (max-width: 480px) {
  .content {
    display: none;
  }
}

.listContainer {
  background-color: white;
  max-height: 529px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
@media (max-width: 480px) {
  .listContainer {
    display: none;
  }
}

@media (min-width: 760px) {
  .listContainer {
    grid-column: 3;
    grid-row: 1 / 3;
    display: visible;
  }
}

@media (max-width: 760px) {
  .listContainer {
    grid-column: 2;
    grid-row: 1 / 3;
    display: visible;
  }
}

@media (max-width: 1020px) {
  .content {
    margin-top: 20px;
  }
}
